textarea.rankings
textarea.json-rankings

button.submit

script(type='text/javascript', src="javascripts/jquery-2.1.1.min.js")
script(type='text/javascript', src="javascripts/jquery.csv-0.71.min.js")
script(type='text/javascript').
  var fixName = function(nameString) {
    var nameParts = nameString.split(',');
    if(nameParts.length === 1) {
      return nameString;
    }

    var orderedParts = [nameParts[1].trim(), nameParts[0].trim()];
    return orderedParts.join(' ');
  };

  var cleanStats = function(player) {
    delete player["Bye"]
    delete player["YPA"]
    delete player["Att"]
    delete player["Avg"]
    delete player["Status"]
    delete player["Injury Type"]
    delete player["Rec"]
    if(player["Position"] === "QB") {
      delete player["Rec Yards"]
      delete player["Rec TD"]
    } else if(player["Position"] === "RB") {
      delete player["Pass Yards"]
      delete player["Pass TD"]
      delete player["INT"]
    } else if(player["Position"] === "WR") {
      delete player["Pass Yards"]
      delete player["Pass TD"]
      delete player["INT"]
      delete player["Rush Yards"]
      delete player["Rush TD"]
    } else if(player["Position"] === "TE") {
      delete player["Pass Yards"]
      delete player["Pass TD"]
      delete player["INT"]
      delete player["Rush Yards"]
      delete player["Rush TD"]
    } else if(player["Position"] === "K") {
      delete player["Pass Yards"]
      delete player["Pass TD"]
      delete player["INT"]
      delete player["Rush Yards"]
      delete player["Rush TD"]
      delete player["Rec Yards"]
      delete player["Rec TD"]
    }
  };

  $(".submit").on('click', function(){
    var source = $('.rankings').val();
    var json = $.csv.toObjects(source);

    for(var i=0; i<json.length; i++) {
      var player = json[i];
      player["Player Name"] = fixName(player["Player Name"]);
      cleanStats(player);
      player.Id = player.Rank;
    }

    $('.json-rankings').val(JSON.stringify(json));
    console.log(json);
  });
