doctype html
html(lang="en")
  head
    title Fantasy Draft Tool
    link(rel="stylesheet", href="/stylesheets/app.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-theme.min.css")
    script(type='text/javascript', src="javascripts/jquery-2.1.1.min.js")

  body
    .container-fluid
      .row
        form
          .col-md-4
            .form-group
              label(for="searchText") Search
              input.search.form-control(name="searchText", type="text")
          .col-md-4
            .checkbox
              label
                input(name="takenToggle", type="checkbox")
                | Hide drafted players

      .row
        each positionPlayers, position in positions
          .col-md-2
            .position
              table.table.table-hover.table-bordered
                th(colspan=2)= position
                each player in positionPlayers
                  - var playerName = player["Player Name"].toLowerCase()
                  tr.player(data-name=playerName)
                    td.rank= player["Rank"]
                    td.name= player["Player Name"]

    script(type='text/javascript', src="javascripts/underscore-1.6.0.min.js")

    script(type='text/javascript').
      $('.search').on('keyup', function(){
        var searchText = $(this).val().toLowerCase();

        if(searchText === ''){
          $('.player').show();
          return;
        }

        $('.player').hide();
        $( ".player[data-name*='"+searchText+"']" ).show();
      });

      $('tr').on('click', function(){
        var $player = $(this),
          taken = $player.hasClass('taken'),
          mine = $player.hasClass('mine');

        if(mine) { $player.removeClass('taken').removeClass('mine') }
        else if(taken) { $player.addClass('mine') }
        else { $player.addClass('taken') }
      });

      $('[name=takenToggle').on('change', function(){
        var hide = $(this).prop('checked');
        $('.player.taken').toggle( !hide );
      });