doctype html
html(lang="en")
  head
    title Draft Party
    link(rel="apple-touch-icon", sizes="57x57", href="/images/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/images/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/images/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/images/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/images/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/images/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/images/apple-touch-icon-152x152.png")
    link(rel="icon", type="image/png", href="/images/favicon-196x196.png", sizes="196x196")
    link(rel="icon", type="image/png", href="/images/favicon-160x160.png", sizes="160x160")
    link(rel="icon", type="image/png", href="/images/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/images/favicon-16x16.png", sizes="16x16")
    link(rel="icon", type="image/png", href="/images/favicon-32x32.png", sizes="32x32")
    link(rel="stylesheet", href="/stylesheets/styles.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
    script(type='text/javascript', src="javascripts/lib/react-with-addons.js")
    script(type='text/javascript', src="javascripts/lib/classNames.js")

  body
    #content-root

    script(type='text/javascript', src="javascripts/lib/jquery-2.1.1.min.js")
    script(type='text/javascript', src="javascripts/lib/bootstrap.min.js")
    script(type='text/javascript', src="javascripts/lib/underscore-1.6.0.min.js")
    script(type='text/javascript', src="javascripts/analytics.js")

    script(type='text/javascript').
      DT_GLOBALS = {
        loggedIn: !{JSON.stringify(loggedIn)},
        user: !{JSON.stringify(user || null)},
        allPlayers: !{JSON.stringify(players)}
      };

    != js('application')

    script(type='text/javascript', src="javascripts/components.js")

    script(type='text/javascript').
      React.render(
        React.createElement(Draft, null),
        document.getElementById('content-root')
      );