body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.main-content {
  padding-top: 20px;
  font-size: 12px;
}

tr, td {
  cursor: pointer;
}

.position th {
  text-align: center;
}

tr.taken > td, tr.taken:hover > td {
  background: #222 !important;
  background-color: #222 !important;
  color: #ccc;
}

tr.taken.mine > td, tr.taken.mine:hover > td {
  background: #449d44 !important;
  background-color: #449d44 !important;
  color: #fff;
}

.show-positional .positional {
  display: block;
}

.show-positional .absolute {
  display: none;
}

.show-absolute .positional {
  display: none;
}

.show-absolute .absolute {
  display: block;
}

.pick {
  font-size: 24px;
  font-weight: bold;
}

.pickCounter {
  margin-left: 10px;
}