body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

*:focus {
    outline: 0;
}

.subtitle {
  margin-left: 20px;
  font-size: 16px;
}

.main-content {
  padding-top: 20px;
  font-size: 12px;
}

form button {
  border: 1px solid rgba(0,0,0,0.8);
  border-radius: 3px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-repeat: no-repeat;
  filter: none;
  margin-right: 10px;
}

form button.on {
  background: #000;
  filter: none;
}

.highlight, h4.highlighted, h1.highlighted, .highlighted .name, .highlighted .name:hover {
  color: #fff572;
}

.lowlight, .lowlighted .name, .lowlighted .name:hover {
  color: #ff6c60;
}

.navbar-holder {
  padding: 20px;
}

.navbar-holder .navbar {
  padding: 10px 0 0 0;
}

tr, td {
  cursor: pointer;
}

.main-content .form-horizontal .checkbox {
  font-size: 16px;
  margin-bottom: 20px;
}

.main-content .page-header {
  border: none;
  margin: 10px 0 0 0;
  padding-bottom: 0;
}

.positional th, .my-team th {
  text-align: center;
}

tr.taken > td, tr.taken:hover > td {
  background: #000 !important;
  background-color: #000 !important;
  color: #666;
}

tr.taken.mine > td, tr.taken.mine:hover > td {
  color: #000;
  background-image: -webkit-linear-gradient(#27FF7A, #0CE861 60%, #449d44) !important;
  background-image: -o-linear-gradient(#27FF7A, #0CE861 60%, #449d44) !important;
  background-image: linear-gradient(#27FF7A, #0CE861 60%, #449d44) !important;
  background-repeat: no-repeat !important;
  font-weight: 500;
  text-shadow: none;
}

.main-content .position-column {
  padding-left: 0;
  padding-right: 20px;
}

.main-content .position-column .rank {
  text-align: right;
}

.show-positional .positional {
  display: block;
}

.show-positional .absolute {
  display: none;
}

.show-absolute .positional {
  display: none;
}

.show-absolute .absolute {
  display: block;
}

.alert .form-group {
  margin-bottom: 0;
}

.pick {
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
}

.pickCounter {
  margin-left: 10px;
}

.main-content .my-team {
  padding-left: 0;
  padding-right: 0;
  float: left;
}

.main-content.show-absolute .my-team {
  width: 25%;
}

.my-team table {
  overflow: hidden;
  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539) !important;
  background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539) !important;
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539) !important;
  background-repeat: no-repeat !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0) !important;
  filter: none !important;
  border: 1px solid rgba(0,0,0,0.6) !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3) !important;
}

.my-team .player.hidden {
  text-indent:-300px;
}

.drag-marker {
  position: absolute;
  height: 34px;
  padding: 8px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-shadow: none;
}

.drop-target {
  background-color: #aaa;
}

#instructions .modal-dialog {
  width: 700px;
}

#instructions .modal-dialog h4{
  margin-bottom: 4px;
}

.modal p {
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .main-content .position-column:nth-child(even) {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .main-content .position-column {
    padding-right: 0;
  }
}