.nav-button
  position relative
  height 60px
  line-height 56px
  outline none
  font "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif
  font-weight bold
  font-size 18px
  text-align center
  color #777
  transition color .2s
  border 1px solid black
  border-width 0 2px 0 0

  &.highlight, &.highlight.on
    color #ffff50

  &.lowlight, &.lowlight.on
    color #ff2c20

  &.highlight, &.lowlight
    line-height 46px

    &:active
      line-height 50px

    .fa
      opacity: 0.4

    &.on .fa
      opacity: 1

  &.first
    border-width 0 2px

  &:active
    background #333
    line-height 60px
    box-shadow inset 0px 0px 22px 4px rgba(0,0,0,.2),
               inset 0 0 2px 2px hsla(0,0%,0%,.2),
               inset 0 0 2px 4px hsla(0,0%,0%,.2),
               inset 0 0 2px 6px hsla(0,0%,0%,.2),
               inset 0 0 1px 8px hsla(0,0%,0%,.5),
               inset 0 -4px 2px 4px hsla(0,0%,0%,.5),
               inset 0 2px 1px 8px hsla(0,0%,100%,.15),
               inset 0 -30px 30px hsla(0,0%,0%,.2)

  &.on
    color: #0096ff;
    // text-shadow 0 0 1px rgba(0, 150, 255, 1),
    //             0 0 3px #0096ff,
    //             0 -1px 1px rgba(0,0,0,0.75)

  &.yellow.on
    // text-shadow rgba(102,102,0,0.3) 0 -1px 0,
    //             #ffff50 0 2px 1px,
    //             #fe9 0 0 5px,
    //             rgba(255,255,0,0.6) 0 0 20px,
    //             0 1px 1px rgba(255,255,255,0.25),
    //             0 -1px 1px rgba(0,0,0,0.75)

  &.red.on
    // text-shadow hsla(0,100%,20%,.3) 0 -1px 0, hsl(0,100%,85%) 0 2px 1px, hsla(10,100%,80%,1) 0 0 5px, hsla(0,100%,50%,.6) 0 0 20px
    // text-shadow rgba(102,0,0,0.3) 0 -1px 0,
    //             #ff2c20 0 0 5px,
    //             0 2px 2px #ff2c20,
    //             rgba(255,0,0,0.6) 0 0 20px,
    //             0 1px 1px rgba(255,255,255,0.25),
    //             0 -1px 1px rgba(0,0,0,0.75)
