.nav-button {
  position: relative;
  height: 60px;
  line-height: 56px;
  outline: none;
  font: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #777;
  transition: color 0.2s;
  border: 1px solid #000;
  border-width: 0 2px 0 0;
}
.nav-button.highlight,
.nav-button.highlight.on {
  color: #ffff50;
}
.nav-button.lowlight,
.nav-button.lowlight.on {
  color: #ff2c20;
}
.nav-button.highlight,
.nav-button.lowlight {
  line-height: 46px;
}
.nav-button.highlight:active,
.nav-button.lowlight:active {
  line-height: 50px;
}
.nav-button.highlight .fa,
.nav-button.lowlight .fa {
  opacity: 0.4;
}
.nav-button.highlight.on .fa,
.nav-button.lowlight.on .fa {
  opacity: 1;
}
.nav-button.first {
  border-width: 0 2px;
}
.nav-button:active {
  background: #333;
  line-height: 60px;
  box-shadow: inset 0px 0px 22px 4px rgba(0,0,0,0.2), inset 0 0 2px 2px rgba(0,0,0,0.2), inset 0 0 2px 4px rgba(0,0,0,0.2), inset 0 0 2px 6px rgba(0,0,0,0.2), inset 0 0 1px 8px rgba(0,0,0,0.5), inset 0 -4px 2px 4px rgba(0,0,0,0.5), inset 0 2px 1px 8px rgba(255,255,255,0.15), inset 0 -30px 30px rgba(0,0,0,0.2);
}
.nav-button.on {
  color: #0096ff;
}
body {
  background-image: url("/images/metal6.png");
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
body .modal-backdrop.in {
  opacity: 0.7;
}
body .modal-content {
  box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.2), inset 0 0 2px 4px rgba(0,0,0,0.2), inset 0 0 2px 6px rgba(0,0,0,0.2), inset 0 0 1px 8px rgba(0,0,0,0.5), inset 0 -4px 2px 4px rgba(0,0,0,0.5), inset 0 1px 1px 8px rgba(255,255,255,0.25), inset 0 -30px 30px rgba(0,0,0,0.2);
}
body .dropdown-menu {
  border: 3px solid #000;
  border-radius: 0;
  background-color: #4e4e4e;
  box-shadow: 0 0 2px 2px #000;
}
body .dropdown-menu li a:hover {
  background-color: #333;
}
body .popover {
  background-color: #333;
  border: 1px solid #000;
}
body .popover .popover-title {
  border-bottom-width: 2px;
}
body .popover.table {
  background-color: #333;
}
*:focus,
*:active {
  outline: 0;
}
.navbar .logo {
  font-family: "Sansita One";
  margin: 14px 0;
  font-size: 24px;
  padding-left: 24px;
  color: #dd00ae;
  text-shadow: 0 1px 1px #ff00de, 0 1px 1px rgba(255,255,255,0.25), 0 -1px 1px rgba(0,0,0,0.75);
}
.navbar .picker {
  line-height: 60px;
  font-size: 20px;
  color: #dd00ae;
  font-weight: bold;
}
#login .form-error {
  color: #f00;
  float: right;
  padding-right: 20px;
}
#login .register-link {
  margin: 20px 20px 0 0;
  float: right;
}
#register .btn-info {
  margin-left: 20px;
}
.user-dropdown .dropdown-holder {
  position: relative;
}
.user-dropdown .dropdown-holder .dropdown .caret {
  margin-left: 6px;
  border-top: 6px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.user-form {
  margin-right: 20px;
}
.user-form .form-group {
  margin-right: 10px;
}
.logo img {
  max-height: 80px;
}
a.registerButton {
  float: right;
  margin: 4px 10px 0 0;
  cursor: pointer;
  float: left;
  margin: 4px 0 0 0;
}
.main-content {
  font-size: 12px;
}
.main-content .form-horizontal .checkbox {
  font-size: 16px;
  margin-right: 30px;
  margin-bottom: 20px;
  display: inline;
}
.main-content .page-header {
  border: none;
  margin: 0;
  padding-bottom: 0;
  position: relative;
}
.main-content .page-header h1 {
  margin-top: 8px;
  float: left;
}
.main-content .page-header .btn {
  padding: 4px 8px;
  margin: 16px 0 0 10px;
  position: absolute;
}
.main-content .position-column {
  padding-left: 0;
  padding-right: 10px;
}
.main-content .position-column .rank {
  text-align: right;
}
.main-content .my-team {
  padding-left: 0;
  padding-right: 0;
  float: left;
}
.main-content.show-absolute .my-team {
  width: 25%;
}
.navbar .on,
.navbar form .on:hover {
  filter: none;
}
.navbar .highlight,
.navbar .lowlight {
  float: left;
  font-size: 18px;
  padding: 6px;
  width: 45px;
  cursor: pointer;
}
.navbar .projections,
.navbar .drafted,
.navbar .editRankings,
.navbar .dropdown,
.navbar .login {
  float: left;
  padding: 0 16px;
  cursor: pointer;
}
h4.highlighted,
h1.highlighted,
.highlighted .name,
.highlighted .name:hover {
  color: #ffff50;
}
.lowlighted .name,
.lowlighted .name:hover {
  color: #ff6c60;
}
.main-content .navbar {
  margin: 0;
  background: #444;
  border: none;
  box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.2), inset 0 0 2px 4px rgba(0,0,0,0.2), inset 0 0 2px 6px rgba(0,0,0,0.2), inset 0 0 1px 8px rgba(0,0,0,0.5), inset 0 -4px 2px 4px rgba(0,0,0,0.5), inset 0 1px 1px 8px rgba(255,255,255,0.25), inset 0 -30px 30px rgba(0,0,0,0.2);
  color: #303030;
  font: bold sans-serif;
  padding: 0;
  text-shadow: 0 1px 1px rgba(255,255,255,0.25), 0 -1px 1px rgba(0,0,0,0.75);
}
.row.players {
  margin-top: 20px;
}
tr,
td {
  cursor: pointer;
}
.positional th,
.my-team th {
  text-align: center;
}
.positional table.table-bordered {
  border-width: 3px;
}
.positional table {
  box-shadow: rgba(0,0,0,0.15) 0 0px 2px 0px, rgba(0,0,0,0.5) 0 0px 9px 2px;
}
.positional table tr {
  border: 1px solid rgba(0,0,0,0.6);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  background-color: #454545;
}
.positional table tr.taken,
.positional table tr.taken:hover {
  background-image: none;
  background-color: #222;
  color: #555;
}
.positional table tr.taken td.rank,
.positional table tr.taken:hover td.rank {
  background-image: none;
}
.positional table tr.taken.mine,
.positional table tr.taken.mine:hover {
  color: #eee;
  background-color: #16a910;
  background-position: 0 0;
  background-repeat: no-repeat !important;
  text-shadow: none;
}
.positional table tr.taken.mine td.rank,
.positional table tr.taken.mine:hover td.rank {
  background-image: none;
}
.positional table tr.dragging {
  opacity: 0.8;
  border-width: 3px;
}
.positional .rank {
  width: 42px;
  position: relative;
  background-image: url("/images/drag-handle.png");
  background-repeat: no-repeat;
  background-position: 6px 50%;
  cursor: ns-resize;
}
.positional .rank .ranking {
  width: 28px;
}
.positional .rank .rankingInput {
  width: 24px;
  border: none;
  box-shadow: inset 0 0 1px 1px;
}
.positional .rank.editing {
  babkground-image: none;
}
.alert .form-group {
  margin-bottom: 0;
}
.my-team {
  border: 2px solid #16a910 !important;
  box-shadow: rgba(0,0,0,0.15) 0 -5px 6px 4px, rgba(0,0,0,0.5) 0 5px 6px 4px;
}
.my-team table {
  box-shadow: none;
  position: relative;
  border: 1px solid #000 !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3) !important;
  margin-bottom: 0;
  background-color: #999;
}
.my-team table tr {
  background: none;
}
.my-team table tr .rank {
  background-image: none;
}
.my-team .player.hidden {
  text-indent: -300px;
}
.drag-marker {
  position: absolute;
  height: 34px;
  padding: 8px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-shadow: none;
}
.drop-target {
  background-color: #aaa;
}
#instructions .modal-dialog {
  width: 700px;
}
#instructions .modal-dialog h4 {
  margin-bottom: 4px;
}
.modal p {
  margin-bottom: 30px;
}
#register .password[type="text"] {
  display: none;
}
#register .buttons .btn {
  float: right;
  margin-left: 20px;
}
@media (max-width: 992px) {
  .main-content .position-column nth-child(even) {
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .main-content .position-column {
    padding-right: 0;
  }
  .main-content .login-form form {
    float: none !important;
  }
  .main-content .page-header .btn {
    position: absolute;
  }
  a.registerButton {
    float: left;
    margin: 4px 0 0 0;
  }
}
